# Utilisation du contrôleur frontal comme fichier index.
DirectoryIndex index.php

# Active les liens symboliques si nécessaire.
# Uncommenter si vous rencontrez des problèmes avec les symlinks.
# Options +FollowSymlinks

# Désactiver MultiViews pour éviter des négociations imprévues.
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

# Gestion des en-têtes CORS
<IfModule mod_headers.c>
    # En-têtes pour la production
    Header always set Access-Control-Allow-Origin "https://admin.easymed.fun"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE, PATCH"
    Header always set Access-Control-Allow-Headers "Authorization, Content-Type"

    # En-têtes pour le développement local
    SetEnvIf Host "localhost" ENVIRONMENT=development
    <If "%{ENV:ENVIRONMENT} == 'development'">
        Header always set Access-Control-Allow-Origin "http://localhost:3000"
    </If>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Détecte automatiquement la base du chemin et le configure comme variable d'environnement.
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Définit l'en-tête HTTP_AUTHORIZATION s'il est supprimé par Apache.
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Redirige les URI vers leur version sans le contrôleur frontal.
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # Si le fichier demandé existe, le sert directement.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]

    # Redirection HTTPS pour la production, pas pour localhost
    RewriteCond %{HTTP_HOST} !^localhost
    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://www.medclick.be/$1 [R=301,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # Si mod_rewrite n'est pas disponible, redirige temporairement la page d'accueil.
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>
