
    <div style="width:90%px; padding:4%;">
        <h1 style="color:#4bbf73;text-align:center;">Med-Click</h1>

        <p>Bonjour {{ firstname}}.</p><br>

        <p>Bienvenue dans la communauté!</p><br>

        <p>Voici le lien à suivre afin d'activer ton compte: https://www.api-link.medclick.be/activation/{{token}} .</p><br>

        <h2>Med-Click</h2>
    </div>
  


