<div style="width:90%px; padding:4%;">
	<h1 style="color:#4bbf73;text-align:center;">Med-Click</h1>

	<p>Bonjour
		{{ firstname}}.</p><br>


	<p>Une demande de réinitialisation du mot de passe de votre compte a été effectuée. Pour continuer, suivez le lien suivant:
		https://www.medclick.be/resetPassword/{{token}} .
		.</p><br>

	<p>Si vous n’êtes pas à l’initiative de cette demande, ne tenez pas compte de cet email.</p><br>

	<h2>Med-Click</h2>
</div>
